@mixin responsive($breakpoint) {
  @if $breakpoint== xs {
    @media (max-width: 575.98px) {
      @content;
    }
  }

  @if $breakpoint== sm {
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  }

  @if $breakpoint== md {
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  }

  @if $breakpoint== lg {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  }

  @if $breakpoint== xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

.banner {
  background-color: #f3f6fd;
  padding: 2rem 0;
}

.banner__container {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;

  @include responsive(xs) {
    font-size: 1.4rem;
  }

  @include responsive(sm) {
    font-size: 1.4rem;
  }

  @include responsive(md) {
    font-size: 1.4rem;
  }

  @include responsive(lg) {
    font-size: 1.4rem;
  }
}

.banner__up,
.banner__down {
  padding: 2rem 0;
}

.banner__wrapper {
  width: 70%;
  height: 50rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.banner__wrapper--up {
    border-top-left-radius: 10rem;
    margin-left: auto;
  }

  &.banner__wrapper--down {
    border-top-right-radius: 10rem;
    margin-right: auto;
  }

  @include responsive(xs) {
    height: unset;
    width: 100%;
    display: block;
    background-color: transparent;
  }

  @include responsive(sm) {
    height: 42.5rem;
  }

  @include responsive(md) {
    height: 42.5rem;
  }

  @include responsive(lg) {
    height: 42.5rem;
  }
}

.banner__up .banner__content {
  width: 50%;

  @include responsive(xs) {
    width: 80%;
    margin: auto;
  }

  @include responsive(sm) {
    width: 70%;
    margin-left: 20%;
  }

  @include responsive(md) {
    width: 70%;
    margin-left: 30%;
  }

  @include responsive(lg) {
    width: 80%;
    margin-left: 10rem;
  }

  @include responsive(xl) {
    margin-left: 16rem;
  }
}

.banner__down .banner__content {
  width: 50%;

  @include responsive(xs) {
    width: 80%;
    margin: auto;
  }

  @include responsive(sm) {
    width: 70%;
    margin-right: 20%;
  }

  @include responsive(md) {
    width: 70%;
    margin-right: 20%;
    margin-left: 10%;
  }

  @include responsive(lg) {
    width: 70%;
    margin-left: 16rem;
  }
}

.banner__up .banner__img {
  position: absolute;
  width: calc(50rem * 0.8);
  height: calc(50rem * 0.8);
  left: calc(0rem - (50rem * 0.8 / 2));

  @include responsive(xs) {
    width: calc(42.5rem * 0.5);
    height: calc(42.5rem * 0.5);
    left: 0;
    position: relative;
    margin: auto;
    padding: 1rem 0 0 0;
  }

  @include responsive(sm) {
    width: calc(42.5rem * 0.6);
    height: calc(42.5rem * 0.6);
    left: calc(0rem - (50rem * 0.7 / 2));
  }

  @include responsive(md) {
    width: calc(42.5rem * 0.8);
    height: calc(42.5rem * 0.8);
  }

  @include responsive(lg) {
    width: calc(42.5rem * 0.7);
    height: calc(42.5rem * 0.7);
  }
}

.banner__down .banner__img {
  position: absolute;
  width: calc(50rem * 0.8);
  height: calc(50rem * 0.8);
  right: calc(0rem - (50rem * 0.8 / 2));

  @include responsive(xs) {
    width: calc(42.5rem * 0.5);
    height: calc(42.5rem * 0.5);
    right: 0;
    position: relative;
    margin: auto;
    padding: 1rem 0 0 0;
  }

  @include responsive(sm) {
    width: calc(42.5rem * 0.6);
    height: calc(42.5rem * 0.6);
    right: calc(0rem - (50rem * 0.7 / 2));
  }

  @include responsive(md) {
    width: calc(42.5rem * 0.8);
    height: calc(42.5rem * 0.8);
  }

  @include responsive(lg) {
    width: calc(42.5rem * 0.7);
    height: calc(42.5rem * 0.7);
  }
}

.img__banner {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  border-radius: 3.5rem;
  border-top-right-radius: 10rem;
}

.banner__title {
  font-weight: 700;
  text-transform: capitalize;

  & h2 {
    color: var(--secondaryColor);
    position: relative;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 2.4rem;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.4rem;
      background-color: var(--secondaryColor);
      bottom: 0;
      left: 0;
    }
  }

  & p {
    margin: 1rem 0 2.5rem;
    color: var(--primaryColor);
    font-size: 2.5rem;
  }
}

.banner__desc {
  width: 80%;
  text-align: justify;

  @include responsive(xs) {
    width: 100%;
  }

  @include responsive(sm) {
    width: 90%;
  }
}

.banner__item {
  display: flex;
  margin-bottom: 0.8rem;
}

.banner__icon {
  color: var(--primaryColor);
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  margin-top: 0.2rem;

  @include responsive(xs) {
    width: 1.5rem;
    height: 1.5rem;
  }

  @include responsive(sm) {
    width: 1.5rem;
    height: 1.5rem;
  }

  @include responsive(md) {
    width: 1.7rem;
    height: 1.7rem;
  }

  @include responsive(lg) {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.banner__button--up {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: var(--font-family);
  line-height: 1.7;
  border-radius: 2.5rem;
  font-weight: 600;
  margin: 3rem 1rem 0;
  color: #fff;
  background: linear-gradient(
    298.48deg,
    var(--primaryColor) 13.52%,
    #1adac3 100.5%
  );
  transition: all 0.5s;

  &:hover {
    color: #fff;
    transform: translateY(-4px);
    cursor: pointer;
  }

  @include responsive(xs) {
    font-size: 1.5rem;
  }

  @include responsive(sm) {
    font-size: 1.5rem;
  }

  @include responsive(md) {
    font-size: 1.5rem;
  }
}

.banner__button--down {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: var(--font-family);
  line-height: 1.7;
  border-radius: 2.5rem;
  font-weight: 600;
  margin: 3rem 1rem 0;
  color: #fff;
  background: linear-gradient(
    298.48deg,
    var(--secondaryColor) 13.52%,
    #ffbd3c 100.5%
  );
  transition: all 0.5s;

  &:hover {
    color: #fff;
    transform: translateY(-4px);
    cursor: pointer;
  }

  @include responsive(xs) {
    font-size: 1.5rem;
  }

  @include responsive(sm) {
    font-size: 1.5rem;
  }

  @include responsive(md) {
    font-size: 1.5rem;
  }
}
