.avatar__upload > div > span > div{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.avatar__upload > div > span {
    padding: 0 !important   ;
}

.avatar__upload > div > span > div > p:first-child{
    margin-right: 12px;
}

.category-item {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 4px;
    margin-bottom: 8px;
    border: 1px #f6f3f3 solid;

    &:hover {
        box-shadow: 1px 1px 10px rgba($color: #000, $alpha: 0.7);
    }
}

.header__table {
    margin-left: 40px;
    align-items: center;
    text-align: center;
    padding: 16px 4px;
    background-color: #fafafa;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
}
.header__table > div:nth-last-of-type(n+2)::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: rgba(5, 5, 5, 0.06);
    transform: translateY(-50%);
    transition: background-color 0.3s;
    content: "";
}